<div class="album py-5 bg-light mt-5 mb-5">
  <div class="container">

<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Восстановить аккаунт</strong>
  </h5>

  <div class="card-body px-lg-5">


    <form class="text-center" style="color: #757575;" action="#!">
      <p>Мы отправим ссылку на вашу почту, с помощью этой ссылки вы можете восстановить аккаунт</p>

      <div class="md-form">
        <input type="email" id="materialSubscriptionFormEmail" class="form-control">
        <label for="materialSubscriptionFormEmail">Почта</label>
      </div>


      <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Отправить</button>

    </form>


  </div>

</div>
  </div>
</div>
